*{
    font: 12px sans-serif;
}

body {
    margin: 0;
    background-image: url("imagens/fundo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}


h1{
    font-size: 12px;
    
}

.botao {
    width: 115px;
    height: 25px;
    background: #98CA3F;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

header>nav {
    float: right;
}

header>nav>a {
    /*padding: 25px 10px;*/
    text-decoration: none;
    color: white;
}
header{
   margin-top: 25px;
   height: 80px; 
}

section{
    text-align: center;
}

.logomarca{
    width: 30%;
}

section > figure {
    float: left;
}